body {
	margin: 1rem;
	font-family: Noto Sans, sans-serif;
	color: white;
	/* width: 100vw; */
	height: 100vh;
	background: linear-gradient(#0C0539,#2337A0);
}
header {
	width: fit-content;
	margin-bottom: 2rem;
}

.title {
	font-size: 2.5rem;
	font-weight: bold;
	margin-bottom: 1rem;
}


#date-section {
	margin-top: 1rem;
	margin-bottom: 1rem;
	display: flex;
	gap: 1rem;
	overflow: scroll;
}

.date-circle {
	width: fit-content;
	height: fit-content;
	border-radius: 100rem;
	background-color: rgba(255, 255, 255, 0.2);
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
	padding: 1rem;
}

.date-circle:hover {
	background-color: white;
	color: #0C0539;
	cursor: pointer;
	transition: 500ms ease-in-out;
}

.date-circle.selected {
	box-shadow: 0px 0px 0px 2px white inset;
	/* transition: box-shadow 300ms ease; */
}

.core-stats-section {
	margin-top: 1rem;
	margin-bottom: 1rem;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 1rem;
	width: 100;
}



.ahi, .pressure, .leak-rate, .epap {
	padding: 2rem;
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: -webkit-fill-available;
	background-color: rgba(255, 255, 255, 0.2)
}


.stats-title {
	font-size: 1rem;
}

.stats {
	font-size: 3rem;
	font-weight: bold;
}

h1 {
	font-size: 2rem;
}

.morning-check-in {
	padding: 2rem;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 1rem;
	width: -webkit-fill-available;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 1rem;
	justify-content: space-between;
	height: fit-content;
}

.insights {
	position: relative;
	padding: 2rem;
	background-color: rgba(255, 255, 255, 0.2);
	width: -webkit-fill-available;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 1rem;
	border-radius: 1.5rem;
	overflow: hidden;
	justify-content: space-between;
	border: 5px solid transparent;
	border-image-slice: 1;

  }
  
.start-now {
	border: 1px solid white;
	border-radius: 100rem;
	padding: 1rem;
	width: -webkit-fill-available;
	text-align: center;
	justify-content: space-between;
}

.insights-button {
	border: 1px rgba(255, 255, 255, 0.2);
	background-color:  rgba(255, 255, 255, 0.2);
	border-radius: 100rem;
	padding: 1rem;
	width: -webkit-fill-available;
	text-align: center;
	justify-content: space-between;
}

.start-now:hover, .insights-button:hover {
	background-color: white;
	color: #0C0539;
	cursor: pointer;
	transition: 500ms ease-in-out;
}

.morning-insights {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
}

@media (max-width: 450px) {
	.core-stats-section {
		grid-template-columns: 1fr 1fr;
	}
	.morning-insights {
		grid-template-columns: 1fr;
	}
	.date-circle {
		width: 100%;
	}
	.morning-check-in {
		width: 100%;
	}
	.insights {
		width: 100%;
	}
	body {
		width: auto;
		height: auto;
	}
}